@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body {
    display: block;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--sfondo);
    color: var(--testo);
}

button {
    background-color: var(--sfondo);
    color: var(--testo);
    box-shadow: var(--neumorphism);
    transition: var(--velocita);
    border: var(--bordo);
}

button:hover {
    box-shadow: var(--innerNeu);
    transform: var(--premuto);
}