@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body {
    display: block;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--sfondo);
    color: var(--testo);
}

button {
    background-color: var(--sfondo);
    color: var(--testo);
    box-shadow: var(--neumorphism);
    transition: var(--velocita);
    border: var(--bordo);
    font-weight: 500;
    font-size: 1rem;
}

button:hover {
    box-shadow: var(--innerNeu);
    transform: var(--premuto);
}

input[type='text'],
input[type='number'],
input[type='url'],
input[type='password'],
input[type='email'] {
    outline: none;
    border: var(--bordo);
    border-radius: 0.5rem;
    background-color: var(--sfondo);
    color: var(--testo);
    font-size: 1rem;
    padding: 0.2rem;
    box-shadow: var(--innerNeu);
}

input[type='checkbox'] {
    box-shadow: var(--neumorphism);
    transform: scale(1.2);
    outline: none;
    border: var(--bordo);
}

textarea {
    resize: none;
    font-size: 1rem;
    box-shadow: var(--innerNeu);
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: var(--bordo);
    color: var(--testo);
}

.content-wrapper {
    z-index: 10;
    border-radius: 0.5rem;
    background-color: var(--sfondo)!important;
    box-shadow: var(--innerNeu)!important;
    padding: 2rem;
}

.risolvi {
    box-shadow: var(--neumorphism);
    background-color: var(--sfondo)!important;
    color: var(--resolve);
}

.risolvi:hover {
    background-color: var(--resolve);
    color: var(--sfondo);
    box-shadow: var(--resolveHover);
}


/* Works on Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--testo) var(--sfondo);
}


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--sfondo);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--testo);
    border-radius: 20px;
    border: 3px solid var(--sfondo);
}